$jumbotron-bg:red;

@import "bootstrap-sprockets";
@import "bootstrap";

.panel-footer.panel-custom {
    background: red;
    color: white;
}

.panel-body.panel-custom {
    background: white;
    color: black;
}